* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(179, 36, 119);
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 1rem;
}

li :hover {
  transform: scale(1.5);
  color: blue;
}
